.scrollbar-1 {
    scrollbar-width: thin;
    --scrollbar-width: 1px; /* Custom width */
  }
  .scrollbar-1::-webkit-scrollbar {
    width: 1px;
    height: 1px;
  }
  .scrollbar-1::-webkit-scrollbar-thumb {
    background-color: rgb(204, 35, 35);
    border-radius: 5px;
  }


  .header {
    height: 56px;
    margin-bottom: 120px;
    background-color:#0F2051;
    width: 50%;
    position:sticky;
    top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    z-index: 50;

    /* border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4)); */
  }
  
  .inner {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .link {
    display: block;
    line-height: 1;
    padding: 8px 12px;
    border-radius: var(--mantine-radius-sm);
    text-decoration: none;
    color: #fff;
    font-size: var(--mantine-font-size-sm);
    font-weight: 500;
  
  
  }
  
  .linkLabel {
    margin-right: 5px;

  }
  